<div class="inventory-food-container">
  <h1 class="text">Add food</h1>
  <%= form_with model: @inventory_food, url: "/inventory_foods/#{@inventory.id}/create", method: :post do |form| %>
    <p>Choose food from this list (press cntrl+click to select multiple)</p>
    <%= form.select :food_list, Food.order(:name).where(author_id:current_user.id).pluck(:name, :id), {}, {:multiple => true, required:true, class: "form-select"} %>
    
    <%= form.label :quantity, 'Quantity:', class: "form-label" %>
    <%= form.number_field :quantity, class: "form-control" %>
    <%= form.submit 'Add food', class: "btn-add-gen" %>
  <% end %>
</div>







