<% if flash[:success] %>
  <div class="name">
    <p><%= flash[:success] %></p>
  </div>
<% end %>
<div class="single-inventory-container">
  <h1 class="name"><%=@inventory.name%></h1>
  <%= link_to 'Add food', "/inventory_foods/#{@inventory.id}/new", class: "link btn-add-gen" %>
  <table class="table shopping-list">
    <thead class="table">
      <tr class="table">
        <th class="table">Food</th>
        <th class="table">Quantity</th>
        <th class="table">Actions</th>
      </tr>
    </thead>
    <tbody class="table">
      <% @foods.each do |food| %>
        <tr>
          <td class="table"><%= food.food.name %></td>
          <td class="table"><%= food.quantity %></td>
          <td class="table"><%= button_to 'Delete', "/inventory_foods/#{@inventory.id}/destroy/#{food.id}", method: :delete, class: "btn-delete" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>