<% if flash[:success] %>
  <div class="alert" role="alert">
    <p><%= flash[:success] %></p>
  </div>
<% end %>
<div class="wrapper">
  <h1><%=@inventory.name%></h1>
  <%= link_to 'Add food', "/inventory_foods/#{@inventory.id}/new", class: "add-button" %>
  <table class>
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= button_to 'Delete', "/inventory_foods/#{@inventory.id}/destroy/#{food.id}", method: :delete, class: "delete-button"
      <% end %>
    </tbody>
  </table>
</div>