<h1 class="">Public recipes</h1>
<div>
  <% @public_recipes.each do |recipe| %>
    <div class="">
      <div class="">
        <h5 class=""><%= recipe.name.capitalize %> recipe</h5>
        <div class="">
          <div>
            <p class="">Total food Items: <%= RecipeFood.where(recipe_id: recipe.id).count %></p>
            <p class="">Total price: <%= RecipeFood.where(recipe_id: recipe.id).reduce(0) { |sum, f| sum + (f.quantity*Food.find(f.food_id).price).to_f } %></p>
            <p class=""><span class="">Made by: </span><small class=""><%= User.find_by(id: recipe.author_id).name %></small></p>
            <% if can? :manage, recipe%>
              <%= link_to "Details",recipe ,class: ""  %>
            <% end %>
          </div>
          <div class="">
            <% if can? :manage, recipe %>
              <%= button_to "Destroy", recipe, method: :delete, class: ""%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>