<div class="none" id="toggleModel">
  <div class="">
    <div class="">
      Add Ingredient
    </div>
    <%= form_with url: recipe_foods_path({recipe_id: @recipe.id}) do |form|%>
      <div class="">
        <div class="">
          <%= form.label "Food", class:"form-label" %>
          <%= form.collection_select :food_id, Food.order(:name),:id,:name, include_blank: true, class:"form-select" %>
        </div>
        <div class="">
          <%= form.label :quantity, class:"form-label" %>
          <%= form.number_field :quantity, class:"form-control" %>
        </div>
      </div>
      <div class="">
        <div class="">
          <button type="button" class="" onclick="(() => {
            document.getElementById('toggleModel').classList.add('none')
            })()">Cancle</button>
          <button class="" type="submit">Add</button>
        </div>
      </div>
    <%end%>
  </div>
</div>